<% layout("./layouts/boilerplate") %>
<div id="map" style="width: 100%; height: 500px"></div>
    <h1>All Campgrounds</h1>
    <button onclick="window.location.href='/campgrounds/new'" class="btn btn-primary">Add New Campground</button>
    <div class="container-fluid mx-0 my-3">
        <div class="row">

            <% for( let camp of campgrounds ) { %>
                <div class="col col-lg-4">
                    <div class="card my-2 mx-auto" style="width: 18rem;">
                        <% if (camp.images) { %>
                            <img class="card-img" src="<%=camp.images[0].thumbnail %>" alt="Card image cap">
                            <% } else { %>
                                <img class = "card-img" src="https://res.cloudinary.com/dn7i79nmi/image/upload/c_thumb,g_face,h_200,w_200/v1697940535/YelpCamp/rp3j73fi4tlrzcrj56jd.jpg" alt="Card image cap">
                                <% } %>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%=camp.title%>
                                    </h5>
                                    <p class="card-text">
                                        <%=camp.description%>
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            <%= camp.location %>
                                        </small>
                                    </p>
                                    <a href="/campgrounds/<%=camp._id%>" class="btn btn-primary">Details</a>
                                </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const campgrounds = {features: <%-JSON.stringify(campgrounds)%>};
    </script>
    <script src="js/clustermap.js"></script>